body {
	font-size: 17px !important;
	height: 100vh;
}

.content-wrapper {
	background-color: #fafafa;
}

#mainNav .navbar-brand img {
	margin-top: 11%;
	transform: translate(0%, -50%);
}

body .ui-fluid .ui-chips, body .ui-fluid .ui-chips-container {
	width: 100%;
}

body .ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {
	width: 24px;
	margin-right: 4px;
}

body .ui-fluid .ui-spinner .ui-spinner-button {
	width: 25px;
	height: 12px;
}

body .ui-fluid .ui-spinner .ui-spinner-input {
	padding-right: 30px;
}

body .ui-fluid .ui-calendar .ui-datepicker-trigger.ui-button {
	top: -6px;
	width: 24px;
}

.acesso-negado {
	padding: 20px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	border-radius: 10px;
	width: 40%;
	top: 50%;
}

.login {
	
}

.login button {
	font-size: 18px;
}

.login .ui-inputgroup input:focus {
	border: none;
	box-shadow: none;
}

.login .ui-inputgroup input {
	width: calc(100% - 40px);
	height: 42px;
	border-radius: 0px 5px 5px 0px;
	border: none;
}

.login .ui-inputgroup span {
	display: flex;
	float: left;
	width: 40px;
	padding: 8px 0px 8px 0px;
	border-radius: 5px 0px 0px 5px;
	font-size: 26px;
	background: #CCC;
}

div.ui-chkbox span.ui-chkbox-icon {
	background-image:
		url(/odonto-system-manager/javax.faces.resource/images/ui-icons_222222_256x240.png.jsf?ln=primefaces-admin-1.0.0-RC15)
		!important;
	display: inline;
}

.mx-auto {
	margin: auto;
}

.my-auto {
	top: 50%;
	transform: translateY(-50%);
}

.titulo-coluna {
	font-size: 18px;
	font-weight: bold;
}

.pergunta-anamnese {
	font-size: 16px;
	color: #666;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
	background: #0288d1 !important;
	color: #fafafa;
	font-weight: normal !important;
	font-size: 22px !important;
}

.card {
	border-radius: 3px;
}

.texto-sem-odontograma {
	color: #3c3c3c;
	font-size: 18px;
}

.marcacao {
	margin-bottom: 5px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	padding: 0px !important;
}

.marcacao:hover {
	background: #BBDEFB;
	cursor: pointer;
}

.marcacoes::-webkit-scrollbar, .comentarios::-webkit-scrollbar,
	.scroll-p::-webkit-scrollbar {
	width: 6px;
}

.marcacoes::-webkit-scrollbar-track, .comentarios::-webkit-scrollbar-track,
	.scroll-p::-webkit-scrollbar-track {
	
}

.marcacoes::-webkit-scrollbar-thumb, .comentarios::-webkit-scrollbar-thumb,
	.scroll-p::-webkit-scrollbar-thumb {
	background: #e3e3e3;
}

.circulo-marcacao {
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 50%;
}

.inline {
	display: inline-block;
}

.excluirComentario {
	color: red !important;
	font-size: 11px !important;
	width: auto !important;
	display: none;
}

.comentario {
	
}

.comentario:hover {
	background: #fafafa;
}

.comentario:hover .nomeUsuarioComentario {
	display: none;
}

.comentario:hover .excluirComentario {
	display: inline-block;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #333;
	margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}

.panel-grid-agendamento label {
	color: #999999;
}

.panel-grid-agendamento {
	text-transform: uppercase;
	font-size: 16px;
}

.botao-excluir-acao-servico {
	display: none;
}

.acao-servico-linha {
	min-height: 25px;
	margin-bottom: 5px;
}

.acao-servico-linha:hover .botao-excluir-acao-servico {
	display: inline-block;
}
#ferramentas .ui-g-2{
	margin: 5px;
}
#ferramentas .ui-g-2:hover{
	background: #eee;
}

