body {
	font-size: 17px !important;
}

#mainNav .navbar-brand img {
	margin-top: 11%;
	transform: translate(0%, -50%);
}

body .ui-fluid .ui-chips, body .ui-fluid .ui-chips-container {
	width: 100%;
}

body .ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {
	width: 24px;
	margin-right: 4px;
}

body .ui-fluid .ui-spinner .ui-spinner-button {
	width: 25px;
	height: 12px;
}

body .ui-fluid .ui-spinner .ui-spinner-input {
	padding-right: 30px;
}

body .ui-fluid .ui-calendar .ui-datepicker-trigger.ui-button {
	top: -6px;
	width: 24px;
}

.acesso-negado {
	padding: 20px;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40%;
	border-radius: 10px;
	width: 40%;
	top: 50%;
}

.login {
	
}

.login button {
	font-size: 18px;
}

.login .ui-inputgroup input:focus {
	border: none;
	box-shadow: none;
}

.login .ui-inputgroup input {
	width: calc(100% - 40px);
	height: 42px;
	border-radius: 0px 5px 5px 0px;
	border: none;
}

.login .ui-inputgroup span {
	display: flex;
	float: left;
	width: 40px;
	padding: 8px 0px 8px 0px;
	border-radius: 5px 0px 0px 5px;
	font-size: 26px;
	background: #CCC;
}

div.ui-chkbox span.ui-chkbox-icon {
	background-image:
		url(/odonto-system-manager/javax.faces.resource/images/ui-icons_222222_256x240.png.jsf?ln=primefaces-admin-1.0.0-RC15)
		!important;
	display: inline;
}

.mx-auto {
	margin: auto;
}

.my-auto {
	top: 50%;
	transform: translateY(-50%);
}

.titulo-coluna {
	font-size: 18px;
	font-weight: bold;
}

.pergunta-anamnese {
	font-size: 16px;
	color: #666;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
	background: #0288d1 !important;
	color: #fafafa;
	font-weight: normal !important;
	font-size: 22px !important;
}

.card {
	border-radius: 3px;
}

.texto-sem-odontograma {
	color: #3c3c3c;
	font-size: 18px;
}

.marcacao {
	margin-bottom: 5px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	padding: 0px !important;
}
.marcacao:hover{
	background: #fafafa;
}

.marcacoes::-webkit-scrollbar {
    width: 6px;
}
 
.marcacoes::-webkit-scrollbar-track {
}
 
.marcacoes::-webkit-scrollbar-thumb {
    background: #e3e3e3; 
}

.circulo-marcacao {
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 50%;
}